
.card-discount {
    margin: 2.5%;
    padding: 5%;

    background: white;
    border-radius: 20px;
    border: solid 1px rgb(219, 219, 219);

    width: 95%;
}

.image-discount img{
    margin: 5%;
}

.description-discount p {
    font-size: 18px;
}

@media (min-width: 720px) {
  
    .card-discount {
        margin-right: 1.25%;
    }
  
}

@media (min-width: 990px) {
  
    .card-discount {
        width: 60%;
    }
  
}