
.step-three {

    border-radius: 20px;
    background: white;
    width: 90%;
    margin: 5% auto;
}

.step-three-header{
    display: flex;
    justify-content: space-between;
}

.selection-qualifies {
    width: 50%;
}

.image img{
    width: 100%;
}

.explore-air-image{
    width: 50%;
}

.explore-air-image img{
    width: 100%;
}

.crdit-card-method {
    display: flex;
}

.paypal-method {
    display: flex;
}

.paypal-method img{
    width: 30%;
}